upstream fastcgi_dev {
     server  unix:/var/run/php-fpm-staging.sock;
 }

 server {
     listen 80;	
     server_name example1.com;
     client_max_body_size 128M;
     set $MAGE_ROOT /usr/share/nginx/html/staging/example1.com;
     include /usr/share/nginx/html/staging/example1.com/nginx.conf.sample;
 }

